

<div class="container my-2">
    <div class="row">
        <div class="col-md-6 mb-3 mb-md-0">
            <div class="form-group">
                <label for="todoItem"><strong>Todo Item</strong></label>
                <input #todoItem type="text" class="form-control">
            </div>
            <button (click)="onTodoAdd()" class="btn-block" mat-raised-button color="primary">Add Todo</button>
        </div>
        <div class="col-md-6">
            <ul class="list-group" *ngIf="todoArr.length > 0; else noTodo">
                <li *ngFor="let t of todoArr trackBy : trackById" class="list-group-item d-flex justify-content-between">
                    <strong>
                        {{t.todoItem}}
                    </strong>
                    <div class="example-button-container">
                        <button class="mr-2" mat-mini-fab color="primary">
                            <mat-icon><span class="material-symbols-outlined">
                                    edit
                                </span></mat-icon>
                        </button>
                        <button (click)="onRemove(t.todoId)"
                        mat-mini-fab color="warn">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </li>
            </ul>

            <ng-template #noTodo>
                <p class="alert alert-warning">No Todos !!!</p>
            </ng-template>

        </div>
    </div>
</div>            